body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #d76b00;
  color: white;
  height: 100vh;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
  transition: opacity 0.3s, background 0.3s;
}

.sidebar li:hover {
  opacity: 0.8;
  background-color: #ec7600;
}


.content {
  flex-grow: 1; 
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  overflow-y: auto;
}

#table-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #f9faff; 
  border-radius: 8px;
  overflow: hidden;
}

#table-container th,
#table-container td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #d0d7e6; 
}

#table-container thead {
  background-color: #c96c02; 
  color: white;
  font-weight: 600;
}

#table-container tr:hover td {
  background-color: #e3e9ff; 
  transition: background-color 0.3s ease;
}

#table-container tbody tr:last-child td {
  border-bottom: none;
}
